body{
	max-width: 700px;
	margin: 20px auto;
	width:80%;
	border: 20px solid #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
}

.first{
	border-left: 5px solid #bdc3c7;
	padding: 5px;
}

p{
	margin-left: 2%;
}

h4{
	color: #3498db;
	margin-left: 2%;
	letter-spacing: 0.2rem;
}
}

hr{
	width: 2px;
	color: #bdc3c7;
	margin: auto;
	width: 50% - 40px;
}

h2{
margin-left: 2%;
color: #2c3e50;
font-size: 2.0rem;
}